header{
    background-color: rgb(221, 160, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#formulario{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 35vw;
    height: 500px;
    border: 4px black solid;
}
.conteudo{
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    width: 35vw;
    height: 100px;
    border: 1px black solid;
}
button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(209, 148, 33, 0.911);
    width: 35vw;
    height: 50px;
    border-radius: 1px black solid;
    cursor: pointer;
}
.result{
    display: flex;
    width: 35vw;
    height: 250px;
    background-color: cornsilk;
    border: 1px black solid;
}